@import url(https://fonts.googleapis.com/css?family=Lato:300,900);

html{
    position:fixed;
    overflow:hidden;
}
body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 100%;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#controls {
    padding-top: 5px;
    background-color: #fff;
    border-color: #6A757A;
    border-style: groove;
    width: 115px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 99;

}

#startBox {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: 50px;
}
#startButton {
    border: solid 2px black;
    border-radius: 50%;
    height: 50%;
    margin: 0px 12.7px 0px 12.7px;
    background: red;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    pointer-events: auto;
}
#startText {
    height: 30%;
    margin: 4px 6px 0px 6px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}
#countBox {
    vertical-align: top;
    display: inline-block;
    height: 50px;
    width: 50px;
    float: right;
}
#countDisplay {
    border: solid 2px black;
    border-radius: 20%;
    height: 50%;
    margin: 0px 12.7px 0px 12.7px;
    background: red;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
#countText {
    height: 30%;
    margin: 4px 6px 0px 6px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}
#displayText {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6, p, em, a, b, strong {
    font-style: normal;
    font-weight: 300;
}

strong {
    font-size: 1.15em;
}

small {
    font-size: .85em;
}

ul,
ol,
menu {
    list-style: none;
}

sub,
sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
select {
    text-transform: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    min-width: 0;
}

textarea {
    resize: none;
}

a {
    display: inline;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0;
}

hr {
    border: none;
    box-sizing: border-box;
    height: .075rem;
}

[hidden],
template {
    display: none;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

td,
th {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    text-align: inherit;
}


/* browser specific */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

a {
    background-color: transparent;
}

button {
    overflow: visible;
}

html {
    -ms-text-size-adjust: 100%;
}

img {
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

legend {
    border: none;
    padding: 0;
}

mark {
    background: #ff0;
    color: #000;
}

svg:not(:root) {
    overflow: hidden;
}

textarea {
    overflow: auto;
}

/* moz */
body {
    -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: none;
    padding: 0;
}

input {
    line-height: normal;
}

/* webkit */
* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased !important;
}

blockquote {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
progress {
    -webkit-appearance: none;
}
body { background-color: #00BFFF}


.wrapper{
    height: 100%;
    overflow:hidden;
    pointer-events: none;
}

.turtle {
    position: absolute;
    overflow: hidden;
    display:block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.shell {

    width: 220px;
    height: 250px;
    background-color: #636E72;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    pointer-events: auto;
}

.shell::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 235px;
    background-color: #636E72;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#Red.shell::before{
    background-color: #4c0000;
}

#Red.activated.shell::before{
    background-color: Red;
}

#Blue.shell::before{
    background-color: #00004c;
}
#Blue.activated.shell::before{
    background-color: Blue;
}

#Green.shell::before{
    background-color: #001e00;
}
#Green.activated.shell::before{
    background-color: Green;
}
#Yellow.shell::before{
    background-color: #7f7f00;
}
#Yellow.activated.shell::before{
    background-color: Yellow;
}

.shell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
}

.shell div {
    width: 120px;
    height: 80px;
    background: #636E72;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.shell div::before, .shell div::after {
    content: "";
    position: absolute;
    left: 0;
}

.shell div::before {
    top: -30px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid #636E72;
}

.shell div::after {
    bottom: -30px;
    left: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 30px solid #636E72;
}

#Red.shell div{
    background: #900000;
}
#Red.shell div::after{
    border-top: 30px solid #900000;
}
#Red.shell div::before{
    border-bottom: 30px solid #900000;
}

#Green.shell div{
    background: #003200;
}
#Green.shell div::after{
    border-top: 30px solid #003200;
}
#Green.shell div::before{
    border-bottom: 30px solid #003200;
}

#Yellow.shell div{
    background: #999900;
}
#Yellow.shell div::after{
    border-top: 30px solid #999900;
}
#Yellow.shell div::before{
    border-bottom: 30px solid #999900;
}

#Blue.shell div{
    background: #00007f;
}
#Blue.shell div::after{
    border-top: 30px solid #00007f;
}
#Blue.shell div::before{
    border-bottom: 30px solid #00007f;
}

.head {
    width: 75px;
    height: 85px;
    border-radius: 50%;
    background-color: #82C49F;
    position: relative;
    top: 22%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.head::before, .head::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6A757A;
}
.head::before {left: 13px}
.head::after {right: 13px}

.tail {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 35px solid #84C3A0;
    position: absolute;
    bottom: 18%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.legs-01, .legs-02 {
    width: 30px;
    height: 300px;
    border-radius: 20%;
    background-color: #82C49F;
    position: absolute;
    top: 50%;
    left: 50%;
}
.legs-01 {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-animation: walking-turtle-01 6s ease-in-out infinite alternate;
    animation: walking-turtle-01 6s ease-in-out infinite alternate;
}
.legs-02 {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-animation: walking-turtle-02 5s ease-in-out infinite alternate;
    animation: walking-turtle-02 5s ease-in-out infinite alternate;
}

@-webkit-keyframes walking-turtle-01 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(-40deg);transform: translate(-50%, -50%) rotate(-40deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(-30deg);transform: translate(-50%, -50%) rotate(-30deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(-40deg);transform: translate(-50%, -50%) rotate(-40deg)}
}

@keyframes walking-turtle-01 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(-40deg);transform: translate(-50%, -50%) rotate(-40deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(-30deg);transform: translate(-50%, -50%) rotate(-30deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(-40deg);transform: translate(-50%, -50%) rotate(-40deg)}
}

@-webkit-keyframes walking-turtle-02 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(40deg);transform: translate(-50%, -50%) rotate(40deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(35deg);transform: translate(-50%, -50%) rotate(35deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(30deg);transform: translate(-50%, -50%) rotate(30deg)}
}

@keyframes walking-turtle-02 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(40deg);transform: translate(-50%, -50%) rotate(40deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(35deg);transform: translate(-50%, -50%) rotate(35deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(30deg);transform: translate(-50%, -50%) rotate(30deg)}
}

@-webkit-keyframes walking-turtle-03 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(0deg);transform: translate(-50%, -50%) rotate(0deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(3deg);transform: translate(-50%, -50%) rotate(3deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(-1deg);transform: translate(-50%, -50%) rotate(-1deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(2deg);transform: translate(-50%, -50%) rotate(2deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(-1deg);transform: translate(-50%, -50%) rotate(-1deg)}
}

@keyframes walking-turtle-03 {
    0%   {-webkit-transform: translate(-50%, -50%) rotate(0deg);transform: translate(-50%, -50%) rotate(0deg)}
    25%  {-webkit-transform: translate(-50%, -50%) rotate(3deg);transform: translate(-50%, -50%) rotate(3deg)}
    50%  {-webkit-transform: translate(-50%, -50%) rotate(-1deg);transform: translate(-50%, -50%) rotate(-1deg)}
    75%  {-webkit-transform: translate(-50%, -50%) rotate(2deg);transform: translate(-50%, -50%) rotate(2deg)}
    100% {-webkit-transform: translate(-50%, -50%) rotate(-1deg);transform: translate(-50%, -50%) rotate(-1deg)}
}